---
import Hamburger from "../components/Hamburger.astro";
import Navigation from "../components/Navigation.astro";
import ThemaIcon from "./ThemaIcon.astro";
---

<header>
  <nav>
    <Hamburger />
    <ThemaIcon />
    <Navigation />
  </nav>
</header>
