---
const { platform, username, imagepath } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}><img src={`${imagepath}`}/></a>

<style>
  a {
    padding: 0.5rem 1rem;
    background-color: transparent;
    text-decoration: none;
  }
</style>
